{{!-- Display blog posts --}}
<head>
    <script src="/js/dashboard.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
{{#if posts}}
  <h2>My Blog Posts</h2>
  <ul>
    {{#each posts}}
      <li>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <p>Created by: {{user.username}}</p>
        <a href="/posts/{{id}}">View</a>
        <a href="/posts/{{id}}/edit">Edit</a>
        <form action="/posts/{{id}}/delete" method="POST">
          <button type="submit">Delete</button>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No posts found.</p>
{{/if}}

{{> createPostForm}}